* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh;
	/* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	color: #fff;

	/* Inserisci qui sotto le tue regole, se necessario. */
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	.container {
		background-color: blue;
		width: 100%;
		border: 1px dashed red;
		text-align: center;
		margin: 2rem;
		
		ul {
			list-style: none;
			display: flex;
			justify-content: center;
			gap: 1rem;
		}
	}
}

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto le tue regole, se necessario. */

	display: flex;
	justify-content: space-evenly;
	align-items: center;

	.item {
		background-color: blue;
		width: 100%;
		border: 1px dashed red;
		text-align: center;
		padding: 0.5rem;
	}
}

.items_text {
	font-size: 10px;
}

/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;

	/* Inserisci qui sotto le tue regole, se necessario. */
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
}

/* --------------------- */